build/*.vcxproj
**/*.user
**/*.pdb
**/*.ilk
**/*.exp
**/cmake_install
**/CMakeCache
/build/CMakeFiles
/build/LPReditor_ANPR_Lib.dir
**/*.so
**/*.sln
**/*.filters
#data/images/benchmarks-master/endtoend/plate_us/
data/images/benchmarks-master/**/**/*.txt
sample_cpp/build
/python
.git
**/x64
**/*.dir
**/*.cmake
**/.vs
**/CMakeFiles
sample_cpp/build
#**/opencv*
#**/cuda*
#**/cudnn*
#/build/**/opencv*.dll
#**/onnxruntime.dll
/build/Debug
#/build/


